* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F3EAE3;
    
}

main {
    width: 225px;
    background-color: #FFFFFF;
    padding: ;
}

.perfume__img {
    width: 150px;
}